#annotation-panel {
    position:relative;
    flex-direction: column;
}

#annotation-panel .empty-marker { padding:10px }

#annotation-entries-wrapper {
    overflow-y:scroll;
    padding-bottom:40px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#annotation-entries-wrapper::-webkit-scrollbar { display: none; }

#annotation-controls {
    user-select:none;
    display:flex;
    align-items:center;
    margin-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    border-bottom: 1px solid #ababab;
}

#annotation-controls button {
    margin-left: 1em;
}

#annotation-panel .annotation-listing-entry {
    cursor: pointer;
    position:relative;
    width:calc(100% - 20px);
    padding:10px;
    border-bottom: 1px solid #ababab;
    display: flex;
    align-items:center;
    flex-wrap:wrap;
    transition: background-color 0.5s ease;
}

#annotation-panel .annotation-listing-entry[data-annotation-entry-typing] {
    animation: pulse-color 2s infinite; 
    animation-timing-function:ease;
}

#annotation-panel .annotation-listing-entry:hover {
    background: var(--user_ultralight);
    transition: background-color 0.5s ease;
}

#annotation-panel .annotation-listing-entry[data-annotation-entry-focused] {
    background: var(--user_ultralight);
}

.annotation-listing-text {
    width:100%;
    padding-bottom:15px;
}

.annotation-listing-page {
    font-size:10pt;
    color:#565656;
    padding-right:10px;
}

.annotation-listing-creator {
    font-size:10pt;
    color:#565656;
    padding-right:10px;
}

#annotation-panel-button-wrapper {
  position:absolute;
  display:grid;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr 40px;
  bottom:0px;
  width:100%;
}

#annotation-panel-button-wrapper[data-mode="navigation"] #search-bar {
  border: 2px solid black;
  margin:0px;
  border-left:none;
  background-color:white;
}

#annotation-panel-button-wrapper[data-mode="search"] #search-bar {
  grid-column: 1/4;
  margin:0px;
  padding:0px;
  height:36px;
  border: 2px solid black;
}

#annotation-panel-button-wrapper[data-mode="search"] #search-bar > input {
  opacity:1;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  padding-left:7px;
  outline:none;
}

#annotation-panel-button-wrapper[data-mode="navigation"] #search-bar > input {
  opacity:0;
}

#annotation-panel-button-wrapper #search-bar > svg {
  right:7px;
}

#annotation-panel-button-wrapper[data-mode="search"] button {
  display:none;
}

#annotation-panel-button-wrapper > button {
  height:40px;
  font-size:14pt;
  border-left:none;
  transition: background-color 0.5s ease;
}

#annotation-panel-button-wrapper > button:hover {
    background-color:#ededed;
    transition: background-color 0.5s ease;
}

#annotation-panel-button-wrapper > button:first-child {
    border:2px solid black;
}
