#annotation-panel {
    position:relative;
    flex-direction: column;
}

#annotation-panel .empty-marker { padding:10px }

#annotation-entries-wrapper {
    overflow-y:scroll;
    padding-bottom:40px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#annotation-entries-wrapper::-webkit-scrollbar { display: none; }

#annotation-controls {
    user-select:none;
    display:flex;
    align-items:center;
    margin-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    border-bottom: 1px solid #ababab;
}

#annotation-controls button {
    margin-left: 1em;
}

#annotation-panel .annotation-listing-entry {
    cursor: pointer;
    position:relative;
    width:calc(100% - 20px);
    padding:10px;
    border-bottom: 1px solid #ababab;
    display: flex;
    align-items:center;
    justify-content: right;
    flex-wrap:wrap;
    transition: background-color 0.5s ease;
}

#annotation-panel .annotation-listing-entry[data-annotation-entry-typing] {
    animation: pulse-color 2s infinite; 
    animation-timing-function:ease;
}

#annotation-panel .annotation-listing-entry:hover {
    background: var(--user_ultralight);
    transition: background-color 0.5s ease;
}

#annotation-panel .annotation-listing-entry[data-annotation-entry-focused] {
    background: var(--user_ultralight);
}

.annotation-listing-topic {
  width:100%;
}

.annotation-listing-pending {
  width:100%;
  padding:10px;
  font-size:10pt;
  color:#565656;
}

.annotation-listing-comment, .annotation-listing-comment-unread {
    width:calc(100%);
    padding-left:10px;
    border: 2px solid var(--user_light);
    margin-bottom:10px;
    margin-top:10px;
    background:white;
}

.annotation-listing-comment-unread { border: 5px solid var(--user_light); }

.annotation-listing-creator::before {
  content: "";
  position: absolute;
  bottom:8px;
  left:-25px;
  border-right: 10px solid var(--user_light);
  border-top: 10px solid var(--user_light);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.annotation-listing-creator::after {
  content: "";
  position: absolute;
  bottom:13px;
  left:-25px;
  border-right: 9px solid white;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-bottom: 9px solid transparent;
}

.annotation-listing-comment-unread + .annotation-listing-creator::before {
  bottom:1px;
  left:-35px;
  border-right: 15px solid var(--user_light);
  border-top: 15px solid var(--user_light);
  border-left: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.annotation-listing-comment-unread + .annotation-listing-creator::after {
  bottom:13px;
  left:-28px;
}

.annotation-listing-fallback {
  color:#565656;
  text-align:center;
}

.annotation-listing-page, .annotation-listing-creator {
    position:relative;
    font-size:10pt;
    color:#565656;
    padding-right:10px;
    user-select: none;
}

#annotation-panel-button-wrapper {
  position:absolute;
  display:grid;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr 40px;
  bottom:0px;
  width:100%;
}

#annotation-panel-button-wrapper[data-mode="navigation"] .search-bar {
  border: 2px solid black;
  margin:0px;
  border-left:none;
  background-color:white;
}

#annotation-panel-button-wrapper[data-mode="search"] .search-bar {
  grid-column: 1/4;
  margin:0px;
  padding:0px;
  height:36px;
  border: 2px solid black;
}

#annotation-panel-button-wrapper[data-mode="search"] .search-bar > input {
  opacity:1;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  padding-left:7px;
  outline:none;
}

#annotation-panel-button-wrapper[data-mode="navigation"] .search-bar > input {
  opacity:0;
}

#annotation-panel-button-wrapper .search-bar > .clear-icon,
#annotation-panel-button-wrapper .search-bar > .search-icon {
  right:6px;
}

#annotation-panel-button-wrapper[data-mode="search"] button {
  display:none;
}

#annotation-panel-button-wrapper > button {
  height:40px;
  font-size:14pt;
  border-left:none;
  transition: background-color 0.5s ease;
}

#annotation-panel-button-wrapper > button:hover {
    background-color:#ededed;
    transition: background-color 0.5s ease;
}

#annotation-panel-button-wrapper > button:first-child {
    border:2px solid black;
}
