#annotation-wrapper {
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    bottom:0;
    right:0;
}

#annotation-layer { 
    line-height:1;
    opacity: 0.2;
    overflow:visible;
}

#annotation-layer span {
    background-color:blue;
    position: absolute;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
}

#annotation-layer > div[data-focused] > span {
    background-color:red;
}
