#waveform {
  width: 100%;
}

html[data-scrollbars="hidden"] wave {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none;
}

html[data-scrollbars="hidden"] wave::-webkit-scrollbar { display: none; }

.wavesurfer-region {
  opacity: 0.2;
  transition: opacity 0.25s ease;
}

#waveform[data-annotations-focused] .wavesurfer-region {
  opacity: 0.1;
}


#waveform[data-annotations-focused] .wavesurfer-region[data-focused] {
  opacity: 0.3
}

wave {
  margin-top:100px;
  padding-bottom:100px;
}

wave wave,
wave canvas,
wave region {
  margin:0px;
  padding:0px;
  max-height:128px;
}
