#waveform {
  width: 100%;
}

html[data-scrollbars="hidden"] wave {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none;
}

html[data-scrollbars="hidden"] wave::-webkit-scrollbar { display: none; }

.wavesurfer-region {
  opacity: 0.3
}
