#chat-wrapper {
    flex-direction: column-reverse;
    overflow-x: hidden;
}

#chat-panel {
    display:inline-flex;
    flex-direction: column-reverse;
}

#scroll-anchor, #scroll-done {
    user-select:none;
    padding:10px;
    font-weight:bold;
}

#anchor-quote {
  padding:10px;
  margin-top:30px;
}

#anchor-quote svg {
  padding-right: .25em;
  height: 1em;
  color:#565656;
}

#anchor-pin {
  padding:5px;
  display:flex;
  color:#565656;
  align-items:center;
}

#anchor-pin svg {
  height: 1em;
}

#messageComposer > textarea,
.replyComposer > textarea,
.messageEditor > textarea {
    display:block;
    overflow: hidden;
    min-height:100px;
    width:100%;
    margin:0px;
    border:none;
    padding:5px;
    resize:none;
    border-top: 1px solid #adadad;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#messageComposer > textarea:focus,
.replyComposer > textarea:focus,
.messageEditor > textarea:focus {
    outline: none;
    border: 1px solid black;
    border-bottom: none;
}

#submit-button-wrapper {
  background: black
}

#submit-button-wrapper > button,
.replyComposer > button,
.messageEditor > button {
    cursor:pointer;
    outline:none;
    border:2px solid black;
    border-left:none;
    color:black;
    font-weight:bold;
    transition: background-color 0.5s ease;
    background-color:white;
}

#submit-button-wrapper > button:focus,
.replyComposer > button:focus,
.messageEditor > button:focus {
    border:3px solid black;
    border-left:1px solid black;
}

#submit-button-wrapper > button:first-child,
.replyComposer > button:first-child,
.messageEditor > button:first-child {
    border:2px solid black;
}

#submit-button-wrapper > button:first-child:focus,
.replyComposer > button:first-child:focus,
.messageEditor > button:first-child:focus {
    border:3px solid black;
}

.replyComposer > button,
.messageEditor > button {
    width:50%;
    height:30px;
}

#submit-button-wrapper {
    display:grid;
    column-gap: 0px;
    grid-template-columns: repeat(6,1fr) ;
}

#submit-button-wrapper > button {
    height:40px;
    font-size:14pt;
    margin:0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#submitButton { grid-column:1/4; }

#quote-button > svg  {
  width:20px;
}

#cancelButton { grid-column:4/7; }

#submit-button-wrapper > button:hover,
.replyComposer > button:hover,
.messageEditor > button:hover {
    transition: background-color 0.5s ease;
    background-color: var(--user_light);
}

#submit-button-wrapper > button:disabled {
  background-color: white;
  cursor: not-allowed;
  color:grey;
}

#messageComposer > button:active {
    background-color:var(--user_dark);
}

#mediaUploaderHidden {
  display:none;
}

#audioRecordingWrapper, #videoRecordingWrapper {
  position:relative;
  cursor:pointer;
}

#audioRecordingWrapper {
  display:flex;
  background:black;
  justify-content: center;
  align-items: center;
  height:150px;
}

#audioRecordingWrapper .audioVisualizer {
    width:100%;
    height:100%;
}

#audioCaption, #videoCaption {
    pointer-events:none;
    display:flex;
    color: black;
    font-weight: bold;
    background: white;
    border-radius: 30px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width:25px;  
    height:25px;
    position: absolute;
}

#videoCaption {
    bottom: 30px;
    left: 25px;
}

#audioCaption {
    bottom: 20px;
    left: 20px;
}

#audioCaption[data-recording-state=started], #videoCaption[data-recording-state=started] {
    animation: pulse-color 2s infinite; 
    animation-timing-function:ease;
}

#audioCaption[data-recording-state=countdown] {
    color:white;
    justify-content:center;
    animation: reverse-pulse-color 1.5s infinite;
    animation-timing-function:ease;
}
