#chat-wrapper {
    flex-direction: column-reverse;
}

#chat-panel {
    display:inline-flex;
    flex-direction: column-reverse;
}

#scroll-anchor, #scroll-done {
    padding:10px;
    font-weight:bold;
}

#messageComposer > textarea,
.replyComposer > textarea,
.messageEditor > textarea {
    display:block;
    overflow: hidden;
    min-height:100px;
    width:100%;
    margin:0px;
    border:none;
    padding:5px;
    resize:none;
    border-top: 1px solid #adadad;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

#messageComposer > textarea:focus,
.replyComposer > textarea:focus,
.messageEditor > textarea:focus {
    outline: none;
    border: 1px solid black;
    border-bottom: none;
}

#submit-button-wrapper {
  background: black
}

#submit-button-wrapper > button,
.replyComposer > button,
.messageEditor > button {
    cursor:pointer;
    outline:none;
    border:2px solid black;
    border-left:none;
    color:black;
    font-weight:bold;
    transition: background-color 0.5s ease;
    background-color:white;
}

#submit-button-wrapper > button:first-child,
.replyComposer > button:first-child,
.messageEditor > button:first-child {
    border:2px solid black;
}

.replyComposer > button,
.messageEditor > button {
    width:50%;
    height:30px;
}

#submit-button-wrapper {
    display:grid;
    column-gap: 0px;
    grid-template-columns: repeat(6,1fr) ;
}

#submit-button-wrapper > button {
    height:40px;
    font-size:14pt;
    margin:0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#submitButton { grid-column:1/4; }

#cancelButton { grid-column:4/7; }

#submit-button-wrapper > button:hover,
.replyComposer > button:hover,
.messageEditor > button:hover {
    transition: background-color 0.5s ease;
    background-color: var(--user_light);
}

#messageComposer > button:active {
    background-color:var(--user_dark);
}

#mediaUploaderHidden {
  display:none;
}

.mediaMessageThumbnail {
  width: calc(100% - 40px);
  max-width:350px;
  margin:20px;
  border-radius:20px;
}

.mediaMessageThumbnail.awaiting {
  height:200px;
  border:3px dashed black;
}


#chat-panel .message {
    position:relative;
    display: grid;
    width:100%;
    justify-items: left;
    grid-template-areas: "ident content";
    grid-template-columns: fit-content(10%) auto;
}

#chat-panel .me {
    grid-template-columns: auto fit-content(10%);
    grid-template-areas: "content ident";
}

#chat-panel .message > .ident {
    position:relative;
    grid-area: ident;
    width:0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:12px;
    margin-right:15px;
    border-right: 5px solid var(--user_light);
    background: white;
}

#chat-panel .me > .ident {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:0px;
    margin-right:0px;
    padding-right:12px;
    margin-left:15px;
    border-right: none;
    border-left: 5px solid var(--user_light);
    background: white;
}

#chat-panel .message .info {
    width:300px;
    visibility:hidden;
    position:absolute;
    top:-27px;
    left: 12px;
}

#chat-panel .message .info > button {
    margin:0px;
    margin-left:5px;
    border:2px solid var(--user_light);
    padding:4px;
    background-color:white;
}

#chat-panel .message .info > button:first-child {
    margin-left:0px;
}

#chat-panel .message .info > button:last-child {
    margin-right:0px;
}

#chat-panel .me .info {
    left:unset;
    right: 12px;
}

#chat-panel .message:hover .info  {
    visibility:visible;
}

.file-upload,
.redacted {
    font-size:10pt;
    color:gray;
}

/* status vanishes on sent. We probably want a warning for a "not_sent" status,
 * whuch means that sending has failed */
.message[data-event-status] {
    color:gray;
}

#chat-panel .message > .body {
    display: inline-block;
    text-align:left;
    margin-top:5px;
    margin-bottom:5px;
    grid-area: content;
    overflow-wrap: anywhere;
    /* XXX: depreciated, but needed until webkit adds overflow-wrap: anywhere */
    word-break: break-word;
    hyphens:auto;
}

#chat-panel .message:hover {
    background-color: var(--user_ultralight);
}

#chat-panel .me .body  {
    padding-left:5px;
}

#chat-panel .message div[data-mx-maths] {
    min-width:350px;
}

#chat-panel .message .upvotes {
    position:relative;
    width:0px;
    right:8px;
    padding:3px;
    font-size:8pt;
    background-color:white;
    border-radius:25px;
    border:2px solid var(--user_light);
}

#chat-panel .reply-sender-info,
#chat-panel .user-info-message {
    display:flex;
    align-items: center;
    font-size:10pt;
    font-weight:bold;
    color: var(--user_dark);
}


#chat-panel .user-info-message {
    padding:10px;
}

#chat-panel .reply-sender-info > img,
#chat-panel .user-info-message > img {
    width:20px;
    height:20px;
    border-radius:30px;
    position:relative;
    left:-5px;
    object-fit:cover;
}

#chat-panel .reply-preface {
    position:relative;
    left:-5px;
    color:#ababab;
    font-size:10pt;
    padding-bottom:5px;
}

#chat-panel .reply-preview {
    border-left:5px solid var(--user_light);
    padding-left:15px;
}

#chat-panel .redacted-preview {
    padding-top:5px;
    font-size:10pt;
    color: gray;
}

#chat-panel .reply-fallback blockquote{
    margin:0px
}

#chat-panel .me {
    flex-direction:row-reverse;
}

#chat-panel .me > img {
   left: 5px;
}

#chat-panel .me .upvotes {
    right:12px;
}

#chat-panel .me {
    text-align:right;
}
