#chat-panel {
    border: 1px dashed black;
    display:inline-flex;
    flex-direction: column-reverse;
    width:300px;
    margin-top:200px;
    vertical-align:top;
    height:800px;
    overflow-y: scroll;
}

#chat-panel > textarea {
    min-height:100px;
    resize:none;
}

#chat-panel .message {
    position:relative;
    padding-top:9px;
    padding-bottom:9px;
}

#chat-panel .message > .name {
    margin:5px;
    background:#aadada;
    border-radius:5px;
    padding:5px
}

#chat-panel .message > .body {
    display: inline-block;
    max-width:220px;
    text-align:left;
    vertical-align:top;
}

#chat-panel .message > .body > *:first-child { margin-top:0px; }

#chat-panel .message > .body > *:last-child { margin-bottom:0px; }

#chat-panel .message > .reaction {
    position:absolute;
    visibility:hidden;
}

#chat-panel .message:hover > .reaction {
    position:absolute;
    bottom:2px;
    visibility:visible;
}

#chat-panel .message > .upvotes {
    position:relative;
    width:0px;
    bottom:12px;
    padding:3px;
    right:14px;
    font-size:8pt;
    background-color:white;
    border-radius:15px;
    border:2px solid #aadada;
}

#chat-panel .me {
    text-align:right;
}
