#chat-panel {
    border: 1px dashed black;
    background:white;
    position:fixed;
    right:0px;
    top:0px;
    bottom:0px;
    width:400px;
    display:inline-flex;
    flex-direction: column-reverse;
    vertical-align:top;
    height:100%;
    overflow-y: scroll;
}

#chat-panel > textarea {
    min-height:350px;
    resize:none;
}

#chat-panel .message {
    position:relative;
    display: grid;
    justify-items: left;
    grid-template-areas: "name content";
    grid-template-columns: fit-content(10%) auto ; 
}

#chat-panel .me {
    grid-template-columns: auto fit-content(10%); 
    grid-template-areas: "content name";
}

#chat-panel .message > .ident {
    grid-area: name;
    margin:5px;
    padding:5px;
}

#chat-panel .message .name  {
    height: 1.2em;
    background:#aadada;
    border-radius:5px;
    margin:5px;
    padding:5px;
}

#chat-panel .message > .body {
    display: inline-block;
    text-align:left;
    padding-left:1em;
    padding-top:5px;
    margin-top:5px;
    grid-area: content;
}

#chat-panel .message > .body > *:first-child { margin-top:0px; }

#chat-panel .message > .body > *:last-child { margin-bottom:0px; }

#chat-panel .message > .edit, #chat-panel .message > .reaction {
    position:absolute;
    visibility:hidden;
}

#chat-panel .message:hover > .edit, 
#chat-panel .message:hover > .reaction {
    position:absolute;
    top:5px;
    visibility:visible;
}

#chat-panel .message:hover > .reaction {
    right:2px;
}

#chat-panel .message:hover > .edit {
    left:2px;
}

#chat-panel .message .upvotes {
    position:relative;
    bottom:15px;
    padding:3px;
    right:15px;
    font-size:8pt;
    background-color:white;
    border-radius:15px;
    border:2px solid #aadada;
}

#chat-panel .me .upvotes {
    right:-12px;
}

#chat-panel .me {
    text-align:right;
}
