#content-container {
    position: relative;
    overflow:scroll;
    --navHeight: 75px;
    height: calc(100% - var(--navHeight));
    width: var(--contentWidth);
    --leftToCenter: max(0px, calc(50% - (var(--pdfWidthPx) * var(--pdfZoomFactor)) / 2));
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#content-container::-webkit-scrollbar { display: none; }

#sidepanel {
    visibility:hidden;
    position:fixed;
    right:0px;
    top:0px;
    bottom:0px;
    padding: var(--sidepanelPadding);
    box-shadow: -2px 0 4px 0 rgba(0,0,0,.2);
    background:white;
    z-index:6;
    width: var(--sidepanelWidth)
}

#document-view {
    position:relative;
    display: inline-block;
    left: var(--leftToCenter);
    /* the below forces chrome to recalculate overflow on zoom 
     * It's not necessary for Firefox or Webkit */
    height: calc(var(--pdfHeightPx) * var(--pdfZoomFactor))
}

#document-wrapper {
    transform-origin : top left;
    transform: scale(var(--pdfZoomFactor));
}

#document-view canvas {
    position:relative;
    z-index:-1; /* prevents an apparent stacking bug in chromium */
}

#document-view-loading {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    animation: pulse-opacity 2s infinite; 
    animation-timing-function:ease;
}

#document-view canvas {
    width: var(--pdfWidthPx);
    height: var(--pdfHeightPx);
}

#annotation-layer , #text-layer {
    transform-origin : top left;
    transform : scale(var(--pdfFitRatio));
    overflow:visible;
    width: calc(var(--pdfWidthPx) / var(--pdfFitRatio)) ;
    height: calc(var(--pdfHeightPx) / var(--pdfFitRatio));
}

#panelToggle {
    position:fixed;
    z-index:7;
    top:10px;
    right:10px;
    border:none;
    outline:none;
    font-size:24px;
    width:40px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    background:white;
    cursor:pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #content-container {
        --sidepanelWidth: 100%;
        --sidepanelPadding: 0px;
        --contentWidth: calc(100% - (var(--sidePanelVisible) * (var(--sidepanelWidth) + (2 * var(--sidepanelPadding)))));
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #content-container {
        --sidepanelWidth: 400px;
        --sidepanelPadding: 50px;
        --contentWidth: calc(100% - (var(--sidePanelVisible) * (var(--sidepanelWidth) + (2 * var(--sidepanelPadding)))));
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
} 

/* standard DPI */
@media only screen and (min-width: 1280px) {
    #content-container {
        --sidepanelWidth: 350px;
        --sidepanelPadding: 0px;
        --contentWidth: calc(100% - (var(--sidepanelWidth) + (2 * var(--sidepanelPadding))));
    }
    #sidepanel {
        visibility:visible;
    }
    #panelToggle {
        visibility:hidden;
    }
}

/* high DPI laptop */
@media only screen and (min-width: 1400px) {
    #content-container {
        --sidepanelWidth: 400px;
        --sidepanelPadding: 50px;
    }
}

/* larger monitor */
@media only screen and (min-width: 1800px) {
    #content-container {
        --sidepanelWidth: 800px;
    }
}
