#file-upload {
  max-width: 800px;
  width: 90vw;
  padding-top:1em;
}

#file-upload-form {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

#file-upload-form {
    display:grid;
    grid-template-columns: 180px 1fr;
}

#file-upload-form label {
    grid-column: 1 / 2 ;
}

 #file-upload-form input, #file-upload-form textarea {
    grid-column: 2 / 3 ;
    margin-bottom:.5em;
    border:none;
    background:#ededed
}

#file-upload-form details {
    grid-column: 1 / 3 ;
    margin-bottom:.5em;
}

.file-upload-details-wrapper {
  padding-top:.5em;
  display:grid;
  grid-template-columns: 180px 1fr;
}

#file-upload-form > textarea {
    resize: vertical;
    min-height:50px;
}

#file-upload-form-submit {
    grid-column: 1 / 2 ;
}

#file-upload-form-progress {
    text-align:right;
    grid-column: 2 / 3 ;
}

.file-upload-form-detail {
    color:#ababab;
    grid-column: 2 / 3 ;
    font-size:10pt;
    position:relative;
    top:-8px;
}

#file-upload-form-progress progress {
  width: 100%;
  height: 80%;
}

@media only screen and (max-width: 600px) {
    #file-upload-form,
    .file-upload-details-wrapper {
      grid-template-columns: 1fr;
    }

    #file-upload-form details, 
    #file-upload-form-progress, 
    .file-upload-form-detail,
    #file-upload-form input, 
    #file-upload-form textarea { 
        grid-column: 1 / 2;
        min-width: 0px; /* helps prevent overflow on very narrow viewports */
    }
} 
