@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

* { font-family: 'Inter', sans-serif }

body a {
  font-family: 'Signika', sans-serif;
  font-size: 1.1em;
  color: black;
  text-transform: uppercase;
  padding: 0 2px 0 2px;
  border: 1px #2a8967 solid;
  cursor: pointer;
}

body {
  margin: 2% 0 0 0;
  padding: 0;
}

h3 {
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
  padding: 15px 0 0 0;
}

#title {
  padding: 20px 0 0 0;
  text-align: center;
}

#title a {
  border: none;
  text-transform: none;
  background: none;
  font-size: 4em;
  color: black;
  letter-spacing: 2px;
  font-family: 'Cinzel', serif;
  text-decoration: none;
  cursor: pointer;
}

.left {
  background: #267b5d;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0.3%;
}

.right {
  background: #267b5d;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 0.3%;
}

.top {
  background: #267b5d;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  height: 0.6%;
  z-index: 2;
}

.bottom {
  background: #267b5d;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  height: 0.6%;
  z-index: 2;
}

input[type=submit] {
  font-family: 'Signika', sans-serif;
  font-size: 1.1em;
  border: none;
  color: black;
  background: radial-gradient(50% 30%, #d8f3ea 100%, white);
  text-transform: uppercase;
  margin-right:5px;
  padding:5px;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: 'Signika', sans-serif;
  font-size: 1.1em;
  border: none;
  color: black;
  background: radial-gradient(50% 30%, #d8f3ea 100%, white);
  text-transform: uppercase;
  margin-right:5px;
  padding:5px;
  text-decoration: none;
  cursor: pointer;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body { margin:0px }
