.invite-candidate,
.disinvite-candidate,
.removal-candidate {
  display:flex;
  position:relative;
  background:none;
  border:none;
  font-size:unset;
  cursor:pointer;
  align-items:center;
  max-width:100%;
  height:40px;
}

.disinvite-candidate {
  opacity:.5
}

.invite-candidate:hover,
.disinvite-candidate:hover,
.removal-candidate:hover {
  left:5px;
}

.invite-candidate .small-icon,
.disinvite-candidate .small-icon,
.removal-candidate .small-icon{
  padding-right: 10px;
}

#invite-search-divider {
  margin-top:20px;
  margin-bottom:20px;
}

#invite-select-view {
  margin-top:20px;
}

#invite-search-directory {
  margin-top:20px;
}

#invite-add-members, #invite-remove-members {
  max-height:60vh;
  padding-top:10px;
  overflow-y: scroll;
  transition:height .25s ease;
}
