#login, #registration {
    display: inline-block;
    border: 1px solid black;
    padding: 2em;
    padding-top: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

#login input:invalid, #registration input:invalid {
    background:#ff9394;
}

#login form, #registration form {
    display:grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

#login label, #registration label {
    grid-column: 1 / 2 ;
    margin:5px;
    margin-left:0px;
}

#login input, #registration input {
    grid-column: 2 / 3 ;
    margin:5px;
    margin-left:0px;
    padding:7px;
    border:none;
    background:#ededed;
}

#login div, #registration div {
    padding-top:.5em;
    grid-column: 1 / 3 ;
}

.login-sso-listing {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-sso-listing:hover .sso-name {
  font-weight:bold;
  transition: font-weight ease .2s;
}

.sso-name {
  padding-left:20px;
  color:black;
  text-decoration:none;
  transition: font-weight ease .2s;
}

#registration button, #login button { 
    margin-top:10px; 
    margin-right:10px;
}

#theRecaptcha {
    padding:1em;
}

#registeringFeedback {
  text-align: center;
  animation: pulse-opacity 2s infinite;
}

#server-loading-message {
    animation: pulse-opacity 2s infinite; 
}

@media only screen and (max-width: 600px) {
    #login, #registration { 
      border:none;
      width:80%;
    }

    #login form, 
    #registration form { 
      border: 0px;
      grid-template-columns: 1fr; 
    }

    #login input,
    #registration input { 
      grid-column: 1 / 2 
    }
} 
