#loginModal, #registrationModal {
    display: inline-block;
    border: 1px solid black;
    padding: 2em;
    padding-top: 1em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

#loginModal input:invalid, #registrationModal input:invalid {
    background:#ff9394;
}

#loginModal form, #registrationModal form {
    display:grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
}

#loginModal label, #registrationModal label {
    grid-column: 1 / 2 ;
    margin:5px;
    margin-left:0px;
}

#loginModal input, #registrationModal input {
    grid-column: 2 / 3 ;
    margin:5px;
    margin-left:0px;
    padding:7px;
    border:none;
    background:#ededed;
}

#loginModal div, #registrationModal div {
    padding-top:.5em;
    grid-column: 1 / 3 ;
}

#loginModal button { 
    margin-top:10px; 
    margin-right:10px;
}

#theRecaptcha {
    padding:1em;
}

@media only screen and (max-width: 600px) {
    #loginModal, #registrationModal { 
      border:none;
      width:80%;
    }

    #loginModal form, 
    #registrationModal form { 
      border: 0px;
      grid-template-columns: 1fr; 
    }

    #loginModal input,
    #registrationModal input { 
      grid-column: 1 / 2 
    }
} 
