.message-frame {
    position:relative;
    display: grid;
    width:100%;
    justify-items: left;
    grid-template-areas: "ident content";
    grid-template-columns: fit-content(10%) auto;
    transition: background-color .2s ease;
}

.message-from-user {
    grid-template-columns: auto fit-content(10%);
    grid-template-areas: "content ident";
    text-align:right;
    flex-direction:row-reverse;
}

.message-decoration {
    position:relative;
    grid-area: ident;
    width:0px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:12px;
    margin-right:20px;
    border-right: 5px solid var(--user_light);
    background: white;
}

.message-from-user > .message-decoration {
    padding-left:0px;
    margin-right:0px;
    padding-right:12px;
    margin-left:15px;
    border-right: none;
    border-left: 5px solid var(--user_light);
}

.message-actions {
    width:300px;
    visibility:hidden;
    position:absolute;
    top:-29px;
    left: 12px;
}

.message-actions > button {
    cursor: pointer;
    margin:0px;
    margin-left:5px;
    border:2px solid var(--user_light);
    padding-left:4px;
    padding-right:4px;
    background-color:white;
    min-height:30px;
    vertical-align:bottom;
}

.message-actions > button:hover {
    background-color: var(--user_light);
}

.message-actions > button > svg {
  height:16px;
  width:16px;
}

.message-actions > button:first-child {
    margin-left:0px;
}

.message-actions > button:last-child {
    margin-right:0px;
}

.message-actions > emoji-picker {
  position:absolute;
  bottom: 0px;
  --num-columns: 6;
  width:250px;
}

.message-from-user .message-actions {
    left:unset;
    right: 12px;
}

.message-frame .message-actions[data-active],
.message-frame:hover .message-actions  {
    visibility:visible;
}

.file-upload,
.redacted {
    font-size:10pt;
    color:gray;
}

/* status vanishes on sent. We probably want a warning for a "not_sent" status,
 * whuch means that sending has failed */
.message-frame[data-event-status] {
    color:gray;
}

.message-frame .message-frame-status {
  position: absolute;
  right: 25px;
  bottom: 5px;
  width:300px;
  font-size:10pt;
  color: #ababab;
}

.message-frame .message-frame-status a {
  text-decoration:underline;
  cursor:pointer;
}

.message-frame > .message-body {
    display: inline-block;
    text-align:left;
    margin-top:5px;
    margin-bottom:5px;
    margin-right:5px;
    grid-area: content;
    overflow-wrap: anywhere;
    /* XXX: depreciated, but needed until webkit adds overflow-wrap: anywhere */
    word-break: break-word;
    hyphens:auto;
}

.message-body blockquote {
  margin-left: 1em;
}

.message-body [data-mx-maths],
.message-body pre {
  overflow-y: scroll;
  max-width: calc(var(--widget-1-width) - 55px);
}

/* allows max-width on inline math */
span[data-mx-maths] { 
  display:inline-block; 
  vertical-align:middle;
}

html[data-scrollbars="hidden"] .message-body [data-mx-maths],
html[data-scrollbars="hidden"] .message-body pre {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none;
}

html[data-scrollbars="hidden"] .message-body [data-mx-maths]::-webkit-scrollbar,
html[data-scrollbars="hidden"] .message-body pre::-webkit-scrollbar { display: none; }


.message-body a {
  color:black;
}

.message-body a:hover {
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.125em;
}

.message-body a[href^="https://matrix.to/#/@"] {
  font-weight: bold;
  color:var(--user_dark);
  cursor: unset;
  text-decoration: none;
}

.message-body a[href^="https://matrix.to/#/@"]::before {
  content:"@"
}

.message-frame:hover {
    background-color: var(--user_ultralight);
}

.message-from-user .message-body  {
    padding-left:15px;
}

.emote-banner {
  color: var(--user_dark);
  font-weight:bold;
}

.annotation-banner {
  font-size:10pt;
  font-weight: bold;
}

.message-frame div[data-mx-maths] {
    min-width:300px;
}

.message-reactions {
    position:relative;
    width:0px;
    top:0px;
    right:10px;
    height:100%;
}

.message-reactions > div {
  position: absolute;
  max-height:100%;
  display:flex;
  flex-direction:column;
  font-size:8pt;
  padding:2px;
  background-color:white;
  border-radius:25px;
  user-select:none;
  border:2px solid var(--user_light);
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.message-reactions > div::-webkit-scrollbar { display: none; }

.emoji-badge {
  white-space: nowrap;
  padding-top:1px;
  padding-bottom:1px;
  cursor: pointer;
}

.reply-sender-info,
.user-info-message {
    display:flex;
    align-items: center;
    font-size:10pt;
    font-weight:bold;
    color: var(--user_dark);
}

.user-info-message {
    padding:10px;
}

.reply-sender-info > img,
.user-info-message > img {
    width:20px;
    height:20px;
    border-radius:30px;
    position:relative;
    left:-5px;
    object-fit:cover;
    user-select: none;
}

.large-emoji-display { font-size: 36pt }

.reply-preface {
    position:relative;
    left:-5px;
    color:#ababab;
    font-size:10pt;
    padding-bottom:5px;
}

.reply-preview {
    border-left:5px solid var(--user_light);
    padding-left:15px;
}

.redacted-preview {
    padding-top:5px;
    font-size:10pt;
    color: gray;
}

.reply-fallback blockquote{
    margin:0px
}

.message-from-user > img {
   left: 5px;
}

.message-from-user .message-reactions {
    right:-10px;
}

.message-from-user .message-reactions div{
    right:0px;
}

.media-message-thumbnail {
  max-width: calc(100% - 20px);
  border-radius:20px;
}

.image-message-preview,
.video-message-preview {
  margin:10px;
  width: calc(100% - 30px);
}

.media-message-thumbnail.awaiting {
  height:200px;
  margin:10px;
  border:3px dashed black;
  width: calc(100% - 30px);
}
