#modalPopup {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display:flex;
  padding:25px;
  justify-content:center;
  z-index:20;
  overflow-y:auto;
}

#modalBackground {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background:black;
  opacity:0.15;
  overscroll-behavior:none;
}

#modalContent {
  position: relative;
  background:white;
  opacity:1;
  width:400px;
  min-height:150px;
  max-width:70vw;
  margin:auto;
  border-radius:30px;
  padding:30px;
  padding-right:30px;
  z-index:21;
  overscroll-behavior:contain;
  animation: slide-in .5s ease-out;
}

html[data-scrollbars="hidden"] #modalContent {
  scrollbar-width: none;
}

html[data-scrollbars="hidden"] #modalContent::-webkit-scrollbar {
  display: none;
}

@keyframes slide-in {
    0% { 
      top: -30px; 
      opacity:0;
    }
    100% { 
      top: 0px; 
      opacity:1;
    }
}

#modalHeader {
  margin-top:-10px;
  margin-right:20px;

}

#dismissModal {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  background:none;
  border:none;
}
