#page-nav {
    position:fixed;
    bottom:0px;
    width:100%;
    height:var(--navHeight);
    background: black;
    z-index:5;
}


#nav-pages {
    display:flex;
    position:absolute;
    bottom: var(--navHeight);
    align-items: center;
    height:50px;
    width: var(--contentWidth);
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#nav-pages::-webkit-scrollbar { display: none; }

.nav-hidden {
    display:none !important;
}

#nav-pages > button:first-child {
    margin-left:auto
}

#nav-pages > button:last-child {
    margin-right:auto
}



#nav-pages > button {
    cursor:pointer;
    background:white;
    border:2px solid black;
    min-width:40px;
    min-height:40px;
    border-radius:30px;
    margin-left:5px;
    margin-right:5px;
    text-align:center;
}

#nav-pages > button.typing {
    animation: nav-color-pulse 2s infinite; 
    animation-timing-function:ease;
}

@keyframes nav-color-pulse {
    0% { background-color: white; }
    50% { background-color: var(--user_light); }
    100% { background-color: white; }
}

#nav-button-wrapper {
    position:relative;
    height:100%;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: var(--contentWidth);
}


@media only screen and (max-width: 600px) {
    #nav-button-wrapper {
        transform: scale(0.8);
        transform-origin: left;
        min-width: calc((var(--contentWidth)/0.8));
        justify-content:space-around;
    }
}

@media only screen and (min-width: 600px) {
    #nav-button-wrapper > button:first-child {
        position: absolute;
        left:10px;
    }

    #nav-button-wrapper > button:last-child {
        position: absolute;
        right:10px;
    }
}

#nav-button-wrapper > button {
    cursor:pointer;
    outline:none;
    color:white;
    background:black;
    border:none;
}

#nav-button-wrapper > button[disabled] {
    color:gray;
}

#nav-button-wrapper > form {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    background:white;
    font-size: 1em;
    border-radius:50px;
    height:45px;
}

#nav-button-wrapper > form > input {
    width:20px; /*this is going to need to be adjusted in JS*/
    font-size: 1em;
    margin:3px;
    border:none;
    text-align:right;
}

#nav-button-wrapper > form > span:last-child {
    padding-right:5px;
}

@media only screen and (max-width: 600px) {
    #nav-button-wrapper > form > input { display:none }
    #nav-button-wrapper > form > span { display:none }
}

#nav-button-wrapper > form > button {
    cursor:pointer;
    outline:none;
    margin:5px;
    padding:5px;
    height:35px;
    border-radius:50px;
    border:none;
    background:white;
    transition: background 0.5s ease;
}

#nav-button-wrapper > form > button:hover {
    color:white;
    background:#dddddd;
    transition: background 0.5s ease;
}

#nav-button-wrapper > form > button.nav-toggled {
    color:white;
    background:#ababab;
    transition: background 0.5s ease;
}

#nav-total-pages {
    font-size: 1em;
    text-align:left;
    width:20px;
    margin:3px;
}

.currentpage {
  background:black !important;
  color: white;
}
