#navigation {
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  text-align: center;
  z-index: 11;
}

#pages {
  text-align: center;
  background: white;
  left: 0;
  right: 0;
  bottom: 50;
  padding-bottom: 5px;
  position: relative;
  height: 20px;
  line-height: 20px;
  width: 75%;
}

#navbar {
  background: #267b5d;
  padding-bottom: 5px;
  height: 50px;
  line-height: 50px;
  width: 70%;
  box-shadow: 0 -1px 2px 0 #123b2c;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

.navbutton {
  display: inline-block;
  margin: 0 5px 0 5px;
  min-width: 30px;
  font-family: 'Signika', sans-serif;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.arrowact {
  font-size: 2.5em;
  color: white;
  cursor: pointer;
}

.arrowinact {
  font-size: 2.5em;
  color: black;
  cursor: default;
}

.annact {
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  margin: 0 50px 0 50px;
}

.anninact {
  font-size: 1.3em;
  color: black;
  cursor: default;
  margin: 0 50px 0 50px;
}

.page {
  font-family: 'Signika', sans-serif;
  font-size: 1.3em;
  width: 25px;
  margin: 0 10px 0 10px;
}

.pglabel {
  color: white;
  background: black;
  text-align: center;
  font-family: 'Signika', sans-serif;
  font-size: 1em;
  width: 30px;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
