.notification {
  margin:10px;
  border: 1px solid black;
}

.discussion-intro {
  padding:10px;
  font-size:10pt;
}

.discussion-topic {
  padding:10px;
  padding-left:20px
}

.notification-header > img {
    width:20px;
    height:20px;
    border-radius:30px;
    position:relative;
    left:-5px;
    object-fit:cover;
    user-select:none;
}

.notification-header {
    padding:10px;
    display:flex;
    align-items: center;
    font-size:10pt;
}

.notification-header .sender {
    font-weight:bold;
    color: var(--user_dark);
}

.notification-body {
    padding:20px;
    padding-top:10px;
    border-left: 5px solid var(--user_light);
    margin-left:13px;
    margin-bottom:10px;
}
