#pdf-upload {
  max-width: 800px;
  width: 90vw;
  padding-top:1em;
}

#pdfUploadForm {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

#pdfUploadForm {
    display:grid;
    grid-template-columns: 180px 1fr;
}

#pdfUploadForm > label {
    grid-column: 1 / 2 ;
}

#pdfUploadForm > input, #pdfUploadForm > textarea {
    grid-column: 2 / 3 ;
    margin-bottom:.5em;
    border:none;
    background:#ededed
}

#pdfUploadForm > textarea {
    resize: vertical;
    min-height:50px;
}

#pdfUploadFormSubmit {
    grid-column: 1 / 2 ;
}

#pdfUploadFormProgress {
    text-align:right;
    grid-column: 2 / 3 ;
}

.pdfupload-form-detail {
    color:#ababab;
    grid-column: 2 / 3 ;
    font-size:10pt;
    position:relative;
    top:-8px;
}

#pdfUploadFormProgress progress {
  width: 100%;
  height: 80%;
}

@media only screen and (max-width: 600px) {
    #pdfUploadForm { grid-template-columns: 1fr; }

    #pdfUploadFormProgress, 
    .pdfupload-form-detail,
    #pdfUploadForm > input, 
    #pdfUploadForm > textarea { 
        grid-column: 1 / 2;
        min-width: 0px; /* helps prevent overflow on very narrow viewports */
    }
} 
