#pdfUploadForm {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

#pdfUploadForm {
    display:grid;
    grid-template-columns: 180px 1fr;
}

#pdfUploadForm > label {
    grid-column: 1 / 2 ;
}

#pdfUploadForm > input, #pdfUploadForm > textarea {
    grid-column: 2 / 3 ;
    margin-bottom:.5em;
    border:none;
    background:#ededed
}

#pdfUploadForm > textarea {
    resize: vertical;
    min-height:50px;
}

#pdfUploadFormSubmit {
    grid-column: 1 / 2 ;
}

#pdfUploadFormProgress {
    text-align:right;
    grid-column: 2 / 3 ;
    animation: pulse-opacity 2s infinite; 
    animation-timing-function:ease;
}


@media only screen and (max-width: 600px) {
    #pdfUploadForm { grid-template-columns: 1fr; }

    #pdfUploadForm > input, #pdfUploadForm > textarea { grid-column: 1 / 2 }
} 
