#content-container {
  --sidepanelWidth: 100%; 
  --widget-1-width: 100%;
  --widget-2-width: 100%;
  --widget-control-width:80px;
}

#sidepanel {
    display:flex;
    position:fixed;
    right: 0px;
    top:0px;
    bottom:0px;
    box-shadow: -2px 0 4px 0 rgba(0,0,0,.2);
    background:white;
    z-index:6;
    /* ↓ for mobile, override below */
    left: calc(100% * (1 - max(var(--chatVisible), var(--annotationListingVisible))));
    width: var(--sidepanelWidth);
    transition: width 0.5s ease, left 0.5s ease, right 0.5s ease, padding 0.5s ease;
}

/* workaround for chrome bug with resizing the chat panel itself */
.panel-widget-1, .panel-widget-2 {
    display:inline-flex;
    height:100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    transition: width 0.5s ease, left 0.5s ease;
}

.panel-widget-1 {
    position:absolute;
    width: var(--widget-1-width);
    min-width: var(--widget-1-width);
}

.panel-widget-2 {
    position:absolute;
    left: calc(var(--chatVisible) * var(--widget-1-width));
    width: var(--widget-2-width);
    border-left:1px solid #adadad;
    min-width: var(--widget-2-width);
    background:white;
}

/*chrome, safari, opera*/
.panel-widget-2::-webkit-scrollbar, .panel-widget-1::-webkit-scrollbar {
  display: none;
}

.panel-widget-controls {
  height:100%;
  position:absolute;
  right:0px;
  padding-top:10px;
  background:white;
  width:calc(var(--widget-control-width)); 
  border-left:1px solid #adadad;
  display:none;
  flex-direction:column;
  gap:10px;
  align-items:center;
}

.panel-widget-controls > button {
    border:none;
    outline:none;
    font-size:24px;
    height:24px;
    text-align:center;
    vertical-align:middle;
    background:transparent;
    cursor:pointer;
}

.panel-widget-controls > hr {
  border: none;
  border-top: 1px solid #dedede;
  width:24px;
}

@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .panel-widget-controls {
      display:flex;
    }

    #sidepanel {
      left:unset;
    }

    #content-container {
        --sidepanelWidth: calc(
            (var(--widget-1-width) * var(--chatVisible))
            + (var(--widget-2-width) * var(--annotationListingVisible))
            + (var(--widget-control-width))
        );
        --widget-1-width:350px;
        --widget-2-width:350px;
    }
}

/* standard DPI */
@media only screen and (min-width: 1280px) {
    #content-container {
        --widget-1-width:400px;
        --widget-2-width:400px;
    }

    .panel-widget-1 {
        padding:0px;
        border: none;
    }
}

/* high DPI laptop */
@media only screen and (min-width: 1400px) {
}
    
@media only screen and (min-width: 1800px) {
    #content-container {
        --widget-1-width:500px;
        --widget-2-width:500px;
    }
}
