#popup-wrapper {
  position:sticky;
  z-index:10;
}

#popup-menu {
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
}

.popup-menu-item {
  padding:10px;
  height:20px;
  background:white;
  cursor: pointer;
}

.popup-menu-item-selected-user {
  background:var(--user_ultralight);
}

.popup-menu-item-selected-flag,
.popup-menu-item-selected-emoji {
  background:#eaeaea
}

.popup-menu-item-username {
  font-weight:bold;
  color:var(--user_dark)
}
