#profileInformationForm {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

#profileInformationForm {
    display:grid;
    grid-template-columns: 180px 1fr;
}

#profileInformationForm > label {
    grid-column: 1 / 2 ;
}

#profileInformationForm > input {
    grid-column: 2 / 3 ;
    margin-bottom:.5em;
    border:none;
    background:#ededed
}

#profileSelector {
    cursor: pointer;
    display:block;
    height:180px;
    max-height:180px;
    width:180px;
    object-fit:cover;
    border-radius:90px;
    grid-column: 2 / 3 ;
    margin:auto;
}

div#profileSelector {
    background : #ababab;
}

#profileSelector:hover {
    filter: brightness(80%);
    transition: filter 0.5s ease;
}

#profileInformationFormSubmit {
    grid-column: 1 / 3 ;
    padding-top:10px;
}

#profileInformationFormSubmit > button {
    margin-right:10px;
}

#profileInformationFormProgress{
    text-align:right;
    grid-column: 2 / 3 ;
    animation: pulse-opacity 2s infinite; 
    animation-timing-function:ease;
}

#profileInformationFormHidden {
    display:none;
}

@media only screen and (max-width: 600px) {
    #profileInformationForm { grid-template-columns: 1fr }

    #profileSelector, #profileInformationForm > input { grid-column: 1 / 2 }
} 
