#profileInformationForm {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

#profileInformationForm {
    display:grid;
    grid-template-columns: 180px 1fr;
}

#profile-advanced-options {
    display:grid;
    grid-template-columns: 180px 1fr;
    padding:10px;
}

#profile-advanced-options > div {
  overflow-y:scroll;
  user-select:all;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


#profile-advanced-options > div::-webkit-scrollbar { display: none; }

#profileInformationForm label {
    grid-column: 1 / 2 ;
}

#profileInformationForm details {
    grid-column: 1 / 3 ;
}

#profileInformationForm input {
    grid-column: 2 / 3 ;
    margin-bottom:.5em;
    border:none;
    background:#ededed
}

#profileSelector {
    cursor: pointer;
    display:block;
    height:180px;
    max-height:180px;
    width:180px;
    object-fit:cover;
    border-radius:90px;
    grid-column: 2 / 3 ;
    margin:auto;
}

div#profileSelector {
    background : #ababab;
}

#profileSelector:hover {
    filter: brightness(80%);
    transition: filter 0.5s ease;
}

#profileInformationFormSubmit {
    grid-column: 1 / 3 ;
}

#profileInformationFormSubmit > button {
    margin-top:10px;
    margin-right:10px;
}

#profileInformationFormProgress{
    text-align:right;
    grid-column: 2 / 3 ;
    animation: pulse-opacity 2s infinite; 
    animation-timing-function:ease;
}

#profileInformationFormHidden {
    display:none;
}

@media only screen and (max-width: 600px) {

    #profileInformationForm { grid-template-columns: 1fr }
    #profile-advanced-options { grid-template-columns: 1fr }

    #profileInformationFormProgress,
    #profileSelector, 
    #profileInformationForm > input { 
        grid-column: 1 / 2 
    }
} 
