#select-sort {
    user-select:none;
    display:flex;
    align-items:center;
    margin-left: 1em;
}

#select-sort > button {
    margin-left: 1em;
}

.invite-entry, .room-listing-entry {
    border: 1px black solid;
    margin: 1em;
    padding: 1em;
}

.invite-buttons button {
  margin-right:10px;
}

.room-listing-entry {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 40px;
}

.room-listing-entry[data-room-entry-buttons-visible] > div {
    grid-column: 1 / 2;
}

.room-listing-entry-buttons {
    grid-column: 1 / 2 !important;
}

.invite-heading, .room-listing-heading {
    grid-column: 1 / 2 !important;
    margin-bottom:1em;
    display:flex;
    align-items:center;
}

.room-listing-data {
    padding-bottom:5px;
}

.room-listing-data-row {
    display: flex;
    padding-bottom:5px;
    flex-wrap:wrap;
    align-items: center;
}

.room-listing-data-row .room-data-icon { 
  display:grid;
  align-items:center;
  margin-right:10px;
}

.room-listing-data-row .invite-pill, 
.room-listing-data-row .member-pill {
  margin-top:5px;
  margin-bottom:5px;
}

.tag-input {
  width:55px;
}

.tag-input:focus {
  width:120px;
}

.tag-editor {
    display: flex;
    padding-bottom:5px;
    flex-wrap:wrap;
    align-items: center;
}

.room-tag {
  padding-right:5px;
}

.room-tag::after {
  content:',';
}

.room-tag:last-child::after {
  content:'';
}

.room-tag-delete-icon svg {
  height:15px;
  cursor: pointer;
}

.room-listing-data .invite-pill {
  opacity:.5;
}

.room-listing-heading > a {
  font-size:16pt;
  font-weight:bold;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.room-more-members {
  border-radius:5px;
  margin-right:5px;
  border:none;
  background:white;
  font-size:12pt;
  cursor:pointer;
  padding:5px;
  white-space: nowrap;
  color:black;
  transition:background .5s ease;
}

.room-more-members:hover {
  background:#ededed;
  transition:background .5s ease;
}

.room-listing-entry .fav-star {
    height:24px;
    padding-right:5px;
}

.room-listing-entry .fav-star svg {
    transform: scale(1);
}

.room-listing-entry-buttons  {
    grid-column: 2 / 3 !important;
    grid-row: 1 / 50 !important;
    padding:5px;
    margin-left:5px;
}

.room-listing-entry[data-room-entry-buttons-visible] .room-listing-entry-buttons {
    background: #ededed;
    border-radius: 15px;
}

.room-listing-entry-buttons > button {
    padding: 0px;
    margin: 0px;
    background: none;
    border: none;
    cursor: pointer;
}

.room-annotation-data {
  display:flex
}

.room-annotation-data > span {
  display:grid;
  grid-template-columns: 20px 1fr;
  padding-right:20px;
  cursor:pointer;
}

#settings-loading {
  animation: pulse-opacity 2s infinite; 
  animation-timing-function:ease;
}
