#room-settings-form {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  margin-bottom: 40px;
}

#room-settings-form label {
  margin:5px;
  margin-left:0px;
}

#room-settings-name-info,
#room-settings-visibility-info,
#room-settings-join-info {
  grid-column: 2/3;
  padding-top:5px;
  font-size:10pt;
}

#room-settings-name-info,
#room-settings-visibility-info {
  padding-bottom:15px;
}

#room-settings-submit-wrapper {
  position:absolute;
  grid-column: 1/3;
  bottom:20px;
}

#room-settings-submit-wrapper button:not(:first-child) {
  margin-left:10px;
}

@media only screen and (max-width: 600px) {
  #room-settings-form {
    grid-template-columns: 1fr;
  }

  #room-settings-name-info,
  #room-settings-visibility-info,
  #room-settings-submit-wrapper,
  #room-settings-join-info {
    grid-column: 1/2;
  }
}
