.room-icon {
  display:inline-block;
  border-radius:5px;
  overflow:hidden;
  vertical-align:bottom;
  transition: opacity 0.5s ease;
  user-select:none;
}

.room-icon img {
  object-fit:cover;
  transition: opacity 0.5s ease;
}

.room-icon[data-placeholder], .room-icon[data-has-avatar] {
  background : var(--low-contrast-background)
}

.room-icon:not([data-has-avatar]) {
  background: var(--room_light);
  color: var(--room_dark);
  font-size:24pt;
  text-align:center;
}

.room-icon:not([data-joined]) {
  opacity: 0.5;
}

.room-icon[data-placeholder] img {
  opacity: 0
}

.room-icon:hover {
  opacity: 1
}
