#room-settings-form {
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  transition: height .25s ease;
  overflow:hidden;
}

#room-settings-select-view {
  padding-bottom:20px;
}

#room-settings-form label {
  margin:5px;
  margin-left:0px;
}

#room-settings-avatar-selector {
    cursor: pointer;
    display:block;
    height:180px;
    max-height:180px;
    width:100%;
    object-fit:cover;
    border-radius:10px;
    grid-column: 2 / 3 ;
    margin:auto;
}


#room-settings-avatar-wrapper {
  position:relative
}

#room-settings-clear-avatar {
  position: absolute;
  bottom:10px;
  right:10px;
  border:none;
  background:rgba(255,255,255,.5);
  border-radius:5px;
  transition:background .25s ease;
  cursor: pointer;
}

#room-settings-clear-avatar:hover {
  background:rgba(255,255,255,.8);
}

div#room-settings-avatar-selector {
    background : #ababab;
}

#room-avatar-selector-hidden {
    display:none;
}

#room-settings-avatar-info,
#room-settings-name-info,
.room-settings-link-info,
#room-settings-visibility-info,
#room-settings-join-info {
  grid-column: 2/3;
  padding-top:5px;
  font-size:10pt;
}

#room-settings-join-link {
  grid-column: 2/3;
  font-size:10pt;
  overflow-x:auto;
  user-select:all;
  background:#ededed;
  padding:7px;
  margin:0px;
}

html[data-scrollbars="hidden"] #room-settings-join-link {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width:none;
}

html[data-scrollbars="hidden"] #room-settings-join-link::-webkit-scrollbar { display: none; }

#room-settings-name-info,
#room-settings-avatar-info,
.room-settings-link-info,
#room-settings-visibility-info,
#room-settings-join-info {
  padding-bottom:15px;
}

#room-settings-submit-wrapper {
  grid-column: 1/3;
}

#room-settings-submit-wrapper button:not(:last-child) {
  margin-right:10px;
  margin-bottom:10px;
}

#room-settings-progress {
    grid-column: 1/3 ;
    padding-top: 10px;
    animation: pulse-opacity 2s infinite; 
    animation-timing-function:ease;
}

#room-settings-progress progress {
    width:100%;
  }

@media only screen and (max-width: 600px) {
  #room-settings-form {
    grid-template-columns: 1fr;
  }

  #room-settings-name-info,
  #room-settings-visibility-info,
  #room-settings-submit-wrapper,
  #room-settings-avatar-info,
  #room-settings-avatar-selector,
  #room-settings-progress,
  #room-settings-join-link,
  .room-settings-link-info,
  #room-settings-join-info {
    grid-column: 1/2;
  }
}
