.search-bar { 
    position:relative; 
    display:flex;
    flex-shrink:2;
    flex-grow:1;
    margin-right:15px; 
    margin-left:13px; 
    align-items:center;
}

.search-bar > .search-icon {
    pointer-events:none;
}

.search-bar > .clear-icon {
    cursor: pointer;
}

.search-bar > .search-icon,
.search-bar > .clear-icon {
    position:absolute;
    right:5px;
    align-items:center;
    display:flex;
}

.search-bar > input {
    width:100%;
    margin:auto;
    padding:7px;
    border:none;
    background:#ededed;
}
