.search-bar { 
    position:relative; 
    display:flex;
    flex-shrink:2;
    flex-grow:1;
    margin-right:15px; 
    margin-left:13px; 
    align-items:center;
}

.search-bar > .search-icon {
    pointer-events:none;
}

.search-bar > .clear-icon {
    cursor: pointer;
}

.search-bar > .search-icon {
    position:absolute;
    left:5px;
    align-items:center;
    display:flex;
}


.search-bar > .right-decoration {
    position:absolute;
    right:5px;
    align-items:center;
    display:flex;
}

.search-bar > .right-decoration > .search-hint {
  border-radius:5px;
  border: solid 1px #ababab;
  padding-left:5px;
  padding-right:5px;
  color:#ababab;
}

.search-bar > input {
    width:100%;
    margin:auto;
    padding:7px;
    padding-left:35px;
    border:none;
    background:#ededed;
}
