#text-layer { 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height:1;
    opacity: 0.2;
    pointer-events:none;
}

#text-layer > span {
    color:transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    pointer-events:auto;
    transform-origin: 0% 0%;
}

#text-layer mark {
    color:transparent;
    background:gray;
}

#text-layer span::selection {
    color:transparent;
    background:var(--selectColor);
}
