#text-layer { 
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height:1;
    opacity: 0.2;
    pointer-events:none;
    transform: scale(var(--pdfFitRatio)) translate(-5px,-5px);
    /* a slight skootch here to make up for span padding */
}

#text-layer > span {
    color:transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    pointer-events:auto;
    transform-origin: 0% 0%;
    user-select:text;
    /* a little padding seems to help with text selection */
    padding:5px; 
}

#text-layer mark {
    color:transparent;
    background:black;
    padding:5px;
    position:relative;
    left:-5px;
}

#text-layer span::selection {
    color:transparent;
    background:var(--selectColor);
}
