#toast-popup {
  position: fixed;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:15;
}

@media only screen and (min-width: 600px) {
  #toast-popup {
    top: 40px;
    left: 40px;
    animation: slide-from-left .5s ease-out;
  }

  #toast-content {
    width:400px;
    min-height:100px;
    border-radius:10px;
  }
}

@media only screen and (max-width: 600px) {
  #toast-popup {
    animation: slide-from-top .5s ease-out;
    width:100%;
    top: 0px;
  }

  #toast-content {
    width:100%;
    height:80px;
  }
}

@keyframes slide-from-top {
    0% { 
      top: -150px; 
      opacity:0;
    }
    100% { 
      top: 0px; 
      opacity:1;
    }
}

@keyframes slide-from-left {
    0% { 
      left: -400px; 
      opacity:0;
    }
    100% { 
      left: 40px; 
      opacity:1;
    }
}

#toast-content {
  position: relative;
  background:#efefef;
  padding:10px;
  z-index:21;
  overflow:scroll;
  scrollbar-width: none;
}

#toast-content::-webkit-scrollbar {
  display: none;
}

#dismiss-toast {
  cursor:pointer;
  position:absolute;
  right:5px;
  top:5px;
  background:none;
  border:none;
}
