.tippy-box {
  color:var(--contrast-text);
  background:var(--max-contrast-background);
  padding:5px;
  font-weight:bold;
  border-radius:5px;
}

.tippy-box[data-theme="bordered"] {
  border: 1px solid white;
}

.tippy-box[data-theme="small"] {
  font-size:10pt;
}
