.tippy-box {
  color:var(--contrast-text);
  background:var(--max-contrast-background);
  padding:5px;
  font-weight:bold;
  border-radius:5px;
}

.tippy-box[data-theme="bordered"] {
  border: 1px solid white;
}

.tippy-box[data-theme="small"] {
  font-size:10pt;
}

.tippy-box[data-theme="info"] {
  font-size:10pt;
  font-weight:unset;
}

.tippy-box[data-theme="info"] h3 {
  margin:0px;
}


.tippy-box[data-theme="info"] svg{
  height:15px;
  vertical-align:bottom;
}
