#welcome-header {
    user-select:none;
    position:fixed;
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    top:0px;
    background-color: white;
    z-index:2;
    height:50px;
    box-shadow: 0px 2px 4px 0 rgba(0,0,0,.2);
}

#welcome-header-content {
    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#welcome-upload, #welcome-notifications {
    padding-right:0px;
    margin-right:15px; 
}

#welcome-notifications > svg, #welcome-upload > svg {
    cursor: pointer;
    vertical-align:top;
    margin-bottom:5px;
}

#welcome-notifications, 
#welcome-upload, 
#welcome-profile {
  flex-shrink: 0;
  position:relative;
  top: 2px;
  border-bottom: 2px solid white;
  transition: border .25s ease;
}

#welcome-notifications[data-welcome-active], 
#welcome-upload[data-welcome-active], 
#welcome-profile[data-welcome-active] {
  border-bottom: 2px solid black;
}

#welcome-profile {
    cursor: pointer;
    width: 26px;
    height: 26px;
    margin-right: 13px; 
    overflow: hidden;
}

#welcome-initial {
    width:22px;
    height:22px;
    text-align:center;
    font-weight: bold;
    line-height:22px;
    border:2px solid black;
    border-radius:35px;
    background-color: var(--user_light);
}

#welcome-profile img {
    height:24px;
    width:24px;
    border-radius:35px;
    object-fit:cover;
}

#welcome-container {
    margin-top:50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    max-width: 800px;
    position: absolute;
    padding:1em;
}

#welcome-container h2 {
  margin:0px;
  padding-left:15px;
}

@media only screen and (min-width: 600px) {
    #welcome-header-content { width:400px; }
} 
